*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'fontRegular', serif;
  line-height: 1.7;
  font-size: 16px;
  background-color: #ffffff;
  color: #777;
}

/*----------------------- FONTS----------------------------------- */



.fontBold{
  font-family: 'Play', sans-serif;
  font-weight: 700;
}
.fontRegular{
  font-family: 'Play', sans-serif;
  font-weight: 400;
 }
.fontHeading{
  font-family: 'Play', cursive;
  font-weight: 700;
}
.fontHeading2{
  font-family: 'Play', cursive;
  font-weight: 600;

}

/*------------------------- COLOR ----------------------------------*/
.colorLight{
   color: #ffffff;
}
.colorGray{
  color: #202020;
}
.colorBlue{
  color: #020251;
}
.colorBlack{
  color: #000000;
}




/*------------------------- FONT SIZE------------------------------ */

.fontSmall{
   font-size: 0.8rem;
}
.fontMedium{
   font-size: 1rem;
}
.fontLarge{
  font-size: 2.5rem;
}
.fontLargexx{
  font-size: 2.0rem;
}
.fontLargex{
   font-size: 1.5rem;
}
.fontXLarge{
   font-size: 2.5rem;
}
.font18{
  font-size: 1.1rem;
}
.fontHead{
  font-size: 5rem;
}

/* OVERLAY */


.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0px;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  position: absolute;
}

.overlay-content {
  position: relative;
  top: 9%;
  width: 50%;
  left: 35%;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 16px;
  color: #020251;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #585858;
}

.overlay .closebtn {
  position: absolute;
  top: -29px;
  right: 0px;
  font-size: 60px;
}


@media screen and (max-height: 576px) {
  .overlay a {font-size: 11px}
  .overlay .closebtn {
      font-size: 30px;
      top: -15px;
      right: 5px;
  }
  .overlay-content {
      position: relative;
      top: 9%;
      width: 50%;
      /* margin-top: 30px; */
      left: 30%;
  }
}

/* FAB */
.containe {
  bottom: 28px;
  position: fixed;
  z-index: 99;
  right: 19px;
  /*! box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.buttons{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 20px 5px 0;
  background-color: #020251;
  outline: none;
  color: #ffffff !important;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 2px 2px 8px #000;
}
.fa-arrow-up{

color: #ffffff !important;

cursor: pointer;

bottom: 41px;

position: fixed;

z-index: 99;

right: 30px;
}



