*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'fontRegular', serif;
  line-height: 1.7;
  font-size: 16px;
  background-color: #ffffff;
  color: #777;
}

/*----------------------- FONTS----------------------------------- */



.fontBold{
  font-family: 'Play', sans-serif;
  font-weight: 700;
}
.fontRegular{
  font-family: 'Play', sans-serif;
  font-weight: 400;
 }
.fontHeading{
  font-family: 'Play', cursive;
  font-weight: 700;
}
.fontHeading2{
  font-family: 'Play', cursive;
  font-weight: 600;

}

/*------------------------- COLOR ----------------------------------*/
.colorLight{
   color: #ffffff;
}
.colorGray{
  color: #202020;
}
.colorBlue{
  color: blue;
}
.colorBlack{
  color: #000000;
}




/*------------------------- FONT SIZE------------------------------ */

.fontSmall{
   font-size: 0.8rem;
}
.fontMedium{
   font-size: 1rem;
}
.fontLarge{
  font-size: 2.5rem;
}
.fontLargexx{
  font-size: 2.0rem;
}
.fontLargex{
   font-size: 1.5rem;
}
.fontXLarge{
   font-size: 2.5rem;
}
.font18{
  font-size: 1.1rem;
}
.fontHead{
  font-size: 5rem;
}

/* OVERLAY */


.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0px;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  position: absolute;
}

.overlay-content {
  position: relative;
  top: 9%;
  width: 50%;
  left: 35%;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 16px;
  color: #020251;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #585858;
}

.overlay .closebtn {
  position: absolute;
  top: -29px;
  right: 0px;
  font-size: 60px;
}


@media screen and (max-height: 576px) {
  .overlay a {font-size: 11px}
  .overlay .closebtn {
      font-size: 30px;
      top: -15px;
      right: 5px;
  }
  .overlay-content {
      position: relative;
      top: 9%;
      width: 50%;
      /* margin-top: 30px; */
      left: 30%;
  }
}

/* FAB */
.containe {
  bottom: 28px;
  position: fixed;
  z-index: 99;
  right: 19px;
  /*! box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.buttons{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 20px 5px 0;
  background-color: #ffffff;
  outline: none;
  color: #ffffff !important;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 2px 2px 8px #cbcaca;
}
.fa-arrow-up{

color: #0000ff !important;

cursor: pointer;

bottom: 47px;

position: fixed;

z-index: 99;

right: 36px;
}

/* NAV */
nav {
	height: 50px;
	padding-bottom: 0px;
	z-index: 9;
	font-size: 0.8rem;
}

@media (max-width: 576px) {
	nav {
		height: 50px;
		padding-bottom: 0px;
		font-size: 0.6rem;
	}
}

@media (min-width: 576px) {
	.navbar-expand-sm .navbar-nav .nav-link {
		padding-right: 0rem;
		padding-left: 0rem;
	}
}

.navbar-dark .navbar-nav .nav-link {
	color: #ffffff
}

.navbar-dark .navbar-toggler {
	border: none;
}

.navbar-dark .navbar-toggler-icon {
	background-image: url(https://img.icons8.com/ios-filled/50/0000ff/menu.png);
}

.navbar-toggler:not(:disabled):not(.disabled) {
	cursor: pointer;
	outline: none;
}

.navbar {
	opacity: 0.8;
}

.nav-item a:hover,
.nav-item a:active {
	color: rgb(0, 140, 255) !important;
}

.navbar-brand {
	font-size: 0px !important;
	line-height: inherit;
	white-space: nowrap;
}

.active_link {
	border-bottom: 2px solid  blue;;
}

.active_hover:hover {
	border-bottom: 2px solid  blue;
}
.social a {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #f8f9fa;
  position: relative;
  text-align: center;
  color: blue;
}

.social a span {
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.social a:hover {
  color: blue;
}