*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
/*----------------------- FONTS----------------------------------- */
@font-face{
  src:url(../fonts/OpenSans-Regular.ttf);
  font-family: fontRegular;
}
@font-face{
   src:url(../fonts/OpenSans-Bold.ttf);
   font-family: fontBold;
}

body{
  font-family: 'fontRegular', serif;
  line-height: 1.7;
  font-size: 10px;
  background-color: #f9fafa;

}
.fontBold{
font-family: 'fontBold', sans-serif;
}
/* .fontShadow{
  font-family:  cursive;
  } */


/*------------------------- COLOR ----------------------------------*/
.colorLight{
   color: #ffffff;
}
.colorGray{
  color: #808080;
}
.colorBlue{
  color:#020251;
}
.colorBlack{
  color: #000000;
}




/*------------------------- FONT SIZE------------------------------ */

.fontSmall{
   font-size: 12px;
}
.fontMedium{
   font-size: 16px;
}
.fontLarge{
  font-size: 40px;
}
.fontLargex{
   font-size: 24px;
}
.fontXLarge{
   font-size: 54px;
}
.font18{
  font-size: 18px;
}


/* NAV */
nav{
  height: 50px;
  padding-bottom: 0px;
  z-index: 9;
}
@media (max-width: 576px){
  nav{
    height: 50px;
    padding-bottom: 0px;
}
}


.navbar-dark .navbar-nav .nav-link {
  color:#ffffff
}
.navbar-dark .navbar-toggler {

  border: none;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url(https://img.icons8.com/ios-filled/50/ffffff/menu.png);
}
.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
  outline: none;
}
.navbar {opacity: 0.8;}
.nav-item a:hover,
.nav-item a:active{
 color:rgb(233, 233, 233) !important;
}
.navbar-brand {
  font-size: 0px !important;
  line-height: inherit;
  white-space: nowrap;
}


/* FAB */
.containe {
  bottom: 0;
  position: fixed;
  z-index: 99;
  right: 0px;
}

.buttons{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 20px 5px 0;
  background-color: #000;
  outline: none;
  color: #ffffff !important;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;

}
.fa-arrow-up{

  color: #ffffff !important;

  cursor: pointer;
  bottom: 15px;
  position: fixed;
  z-index: 99;
  right: 15px;
}

/* OVERLAY */


.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0px;
  left: 0;
  background-color: #020251;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #585858;
}

.overlay .closebtn {
  position: absolute;
  top: 26px;
  right: 18px;
  font-size: 60px;
}


@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 32px;
  right: 23px;
  }
}


/* HERO SECTION */

#hero-section{
   background-image:linear-gradient(to top,#00000010, #000050),url(../img/domenico-loia-EhTcC9sYXsw-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
 

 
  

}
/* .hero_img{
background-image: url(../img/SkeletonCowboy_Hero.gif);
background-repeat: no-repeat;
background-size: cover;
min-height: 300px;
background-attachment: fixed;
margin-top: 51px;
}
   */
.hero_area_text{padding-top: 93px;}

.hero_area_text_quote1{
    font-weight: bold;
    letter-spacing: 15px;
}
.hero_area_text_quote2{
  font-weight: bold;
  letter-spacing: 8px;


}
.hero_area_text_subquote{
  letter-spacing: 8px;

}
.herobtn
{
   background-color: #020251a3;
   border: 1px solid white;
   padding: 10px 40px;
   border-radius: 27px;
   outline: none;
   color: #ffffff !important;
   display: inline-block;
   text-decoration: none;
   cursor: pointer;
   -webkit-animation-name: hero_button; /* Safari 4.0 - 8.0 */
   -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
   animation-name: hero_button;
   animation-duration: 1s;
   animation-delay: 1.1s;
   animation-fill-mode: backwards;
   transition: all .2s;

}
.herobtn:hover
{
  box-shadow: 0px 10px 20px rgba(0,0,0,.2);
  transform: translateY(-3px);
  background-color: #02025161;
  text-decoration: none;


}
.herobtn:active{
  box-shadow: 0px 20px 15px rgba(0,0,0,.2);
  transform: translateY(-1px);
  box-shadow: 0px 10px 20px rgba(0,0,0,.2);
  color: #fff;
  text-decoration: none;
}

@keyframes hero_button {
  0%{
    transform: translateY(20px);
    opacity: 0;
}

100%{
  transform: translateX(0px);
  opacity: 1;
}
}
#hero-section .hero-inner{
  padding-top: 10vh;
}

.hero_area_button{
  position: absolute;
  left:50%;
  transform: translate(-50%,-50%);
  margin-top: 30px;
}
.hero_area_button  a:link,
.hero_area_button  a:visited
{
   padding: 10px 20px;
   color: #ffffff;
   display: inline-block;
   border: none;
   border-radius: 100px;
   outline: none;
   cursor: pointer;
   background: #00000094;
   text-decoration: none;
   position: relative;
   transition: all .3s;
   font-size: 16px;
}





.hero_area_text_quote1{

  -webkit-animation-name: hero_text1; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: hero_text1;
  animation-duration: 1s;



}


/* Standard syntax */
@keyframes hero_text1 {
  0%{
    transform: translateX(-80px);
    opacity: 1;
}
80%{
  transform: translateX(10px);
  opacity: 1;
}
100%{
  transform: translateX(0px);
  opacity: 0;
}

}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes hero_text1 {
  0%{
    transform: translateX(100px);
    opacity: 1;
}
80%{
  transform: translateX(-20px);
  opacity: 1;
}
100%{
  transform: translateX(0px);
  opacity: 0;
}
}



.hero_area_text_quote2{

  -webkit-animation-name: hero_text2; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: hero_text2;
  animation-duration: 1s;



}




/* Standard syntax */
@keyframes hero_text2 {
  0%{
    transform: translateX(80px);
    opacity: 1;
}
80%{
  transform: translateX(-10px);
  opacity: 1;
}
100%{
  transform: translateX(0px);
  opacity: 0;
}

}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes hero_text2 {
  0%{
    transform: translateX(80px);
    opacity: 1;
}
80%{
  transform: translateX(-10px);
  opacity: 1;
}
100%{
  transform: translateX(0px);
  opacity: 0;
}
}

.hero_area_text_subquote{
  -webkit-animation-name: hero_text1; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: hero_text1;
  animation-duration: 1s;

}



/* Safari 4.0 - 8.0 */
@-webkit-keyframes hero_text2 {
  0%{
    transform: translateY(20px);
    opacity: 0;
}

100%{
  transform: translateX(0px);
  opacity: 1;
}
}

@media (max-width: 576px){
  .hero_area_button  a:link,
  .hero_area_button  a:visited
  {
  font-size: 10px;
     
  }
  .hero_area_text_quote1{
    letter-spacing: 10px;
    font-weight: bold;
    font-size:25px;

}
.hero_area_text_quote2{
  letter-spacing: 10px;
  font-weight: bold;
  font-size:25px;

}
.hero_area_text_subquote{
  letter-spacing: 5px;
  font-size:15px;

}


}
/* 
@media (max-height: 600px){

.hero_area_button  a:link,
.hero_area_button  a:visited
{
font-size: 10px;
   
}
.hero_area_text_quote1{
  letter-spacing: 10px;
  font-weight: bold;


}
.hero_area_text_quote2{
  letter-spacing: 10px;
  font-weight: bold;


}
.hero_area_text_subquote{
  letter-spacing: 5px;
  font-size:15px;

}
#hero-section .hero-inner{
  padding-top: 10vh;
}
.hero_area_button {

  margin-top: -30px;
}
} */

@media (max-width: 576px){
  .font18{
      font-size: 14px;
  }
  .fontSmall{
      font-size: 10px;
  }
  .fontXLarge{
      font-size: 32px
  }
  .fontLargex{
      font-size: 16px;
  }
  .fontLarge{
      font-size: 24px;
  }
  .gallary{
      margin-top: 35px !important;
  }
}


/* FOOTER */
.footer{
  background-color: #020251;
}

/* CARD */
.card1,
.card2,
.card3{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: .3s;
  border:none;
  background-color: #020251;
  border-radius: 5px;
}

.card:hover{
  box-shadow: 0 8px 30px 0 rgba(0,0,0,0.2);
}




.text {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #0400ff;
  font-size: 300px;
  filter: url(#gooey);
}
.text::before, .text::after {
  position: absolute;
  opacity: 0;
  transform: translate(-50%, -50%);
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  filter: blur(9px);
}
.text::before {
  content: "UI";
  animation-name: items-odd;
}
.text::after {
  content: "UX";
  animation-name: items-even;
  animation-delay: 1.5s;
}

@keyframes items-odd {
  33.3333333333% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  83.3333333333% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
  0% {
    content: "UI";
  }
  99.9999% {
    content: "UI";
  }
}
@keyframes items-even {
  33.3333333333% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  83.3333333333% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
  0% {
    content: "UX";
  }
  99.9999% {
    content: "UX";
  }
}

.readmore a:link,
.readmore a:visited,
.readmore a:active
{
  text-decoration: none;
}
