/* NAV */
nav {
	height: 50px;
	padding-bottom: 0px;
	z-index: 9;
	font-size: 0.8rem;
}

@media (max-width: 576px) {
	nav {
		height: 50px;
		padding-bottom: 0px;
		font-size: 0.6rem;
	}
}

@media (min-width: 576px) {
	.navbar-expand-sm .navbar-nav .nav-link {
		padding-right: 0rem;
		padding-left: 0rem;
	}
}

.navbar-dark .navbar-nav .nav-link {
	color: #ffffff
}

.navbar-dark .navbar-toggler {
	border: none;
}

.navbar-dark .navbar-toggler-icon {
	background-image: url(https://img.icons8.com/ios-filled/50/ffffff/menu.png);
}

.navbar-toggler:not(:disabled):not(.disabled) {
	cursor: pointer;
	outline: none;
}

.navbar {
	opacity: 0.8;
}

.nav-item a:hover,
.nav-item a:active {
	color: rgb(233, 233, 233) !important;
}

.navbar-brand {
	font-size: 0px !important;
	line-height: inherit;
	white-space: nowrap;
}

.active_link {
	border-bottom: 2px solid #fff;
}

.active_hover:hover {
	border-bottom: 2px solid #fff;
}


/* HERO SECTION */

#hero-section {
	background: url(../img/bg.png);
	background-image: url("../img/bg.png");
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	background-attachment: fixed;
	background-position: top;
}



.hero_area_text_quote1 {
	font-weight: bold;
	letter-spacing: 7px;
}

.hero_area_text_quote1 {
	-webkit-animation-name: hero_text1;
	/* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 4s;
	/* Safari 4.0 - 8.0 */
	animation-name: hero_text1;
  animation-duration: 1s;

}


/* Standard syntax */

@keyframes hero_text1 {
	0% {
		transform: translateX(-80px);
		opacity: 1;
	}
	80% {
		transform: translateX(10px);
		opacity: 1;
	}
	100% {
		transform: translateX(0px);
		opacity: 0;
	}
}

.herobtn {
	background-color: #ffffff;
	padding: 10px 40px;
	outline: none;
	color: #020251 !important;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	-webkit-animation-name: hero_button;
	-webkit-animation-duration: 4s;
	animation-name: hero_button;
	animation-duration: 1s;
	animation-delay: 1.1s;
	animation-fill-mode: backwards;
	transition: all .2s;
	font-weight: bold;
}

.herobtn:hover,
.herobtn:visited {
	box-shadow: 0px 10px 20px rgba(0, 0, 0, .2);
	transform: translateY(-3px);
	text-decoration: none;
}

.herobtn:active {
	box-shadow: 0px 20px 15px rgba(0, 0, 0, .2);
	transform: translateY(-1px);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, .2);
	color: #fff;
	text-decoration: none;
}

@keyframes hero_button {
	0% {
		transform: translateY(20px);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

#hero-section .hero-inner {
	margin-top: 150px;
}

 @media (max-width: 576px) {
  #hero-section .hero-inner {
    margin-top: 60px;
  }
} 

@media (max-height: 576px) {
  #hero-section .hero-inner {
    margin-top: 60px;
  }
  .fontHead{
    font-size: 3rem;
  }
  .font18{
    font-size: 16px;
  }
} 

@media (max-height: 350px) {
  #hero-section .hero-inner {
    margin-top: 60px;
  }
  .fontHead{
    font-size: 3rem;
  }
  .font18{
    font-size: 16px;
  }
} 
/* @media (max-width: 576px) {
	.hero_area_button a:link,
	.hero_area_button a:visited {
		font-size: 10px;
	}
	.hero_area_text_quote1 {
		letter-spacing: 10px;
		font-weight: bold;
		font-size: 25px;
	}
} */


/* CARD */

.card {
	transition: .3s;
	border: none;
	background-color: #f3f3f3;
	border-radius: 0px;
}

.arrowbtn {
	background-color: #00aaff;
	outline: none;
	padding: 10px 20px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}

.arrowbtn:hover {
	color: #fff;
	text-decoration: none;
}

@media (max-width: 576px) {
	.arrowbtn {
		background-color: #020251;
		padding: 5px 10px;
		color: #fff;
		text-decoration: none;
	}
	.arrowbtn:hover {
		color: #fff;
		text-decoration: none;
	}
}

@media (max-width: 350px) {
	.arrowbtn {
		background-color: #020251;
		padding: 3px 6px;
		color: #fff;
		text-decoration: none;
	}
	.arrowbtn:hover {
		color: #fff;
		text-decoration: none;
	}
}


/* FOOTER */

.footer {
    color:#00aaff;
    background-color: #00aaff;
}

@media (max-width: 576px) {
	/* .font18 {
		font-size: 8px;
	} */
	.fontSmall {
		font-size: 10px;
	}
	.fontXLarge {
		font-size: 32px
	}
	.fontLargex {
		font-size: 16px;
	}
	.fontLarge {
		font-size: 24px;
  }
  .fontMedium{
    font-size: 16px;
  }
	.gallary {
		margin-top: 35px !important;
  }
  .fontLargexx {
    font-size: 24px;
}
}
@media (max-width: 350px) {
	.fontXLarge {
		font-size: 22px
  }
  .fontMedium{
    font-size: 8px;
  }

}

.readmore a:link,
.readmore a:visited,
.readmore a:active {
	text-decoration: none;
}